body {
    font-family: 'Raleway';
    font-size: 1rem;
    margin-left: 2em;
    margin-right: 2em;
    height: 100rem;
}

/*style titres*/
h1 {
    font-size: 1.5em;
    font-weight: 900;
}

h2 {
    font-size: 1em;
    font-weight: 900;
}

h3 {
    font-size: 1em;
    font-weight: 900;
}

/*Header*/
header {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 3%;
    padding-top: 1em;
}


.headerMain {
    display: flex;
    flex-direction: column;
    height: 25%;
}

/*Navigation*/

nav  {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.navBar {
    display: flex;
}

nav li{
    list-style: none;
    display: inline;
    padding: 0 0 0 3em;
}

.active {
    border-top: 0.2em solid #0065FC;
    color: #0065FC;
    padding: 2em 0 0 0;
}

a {
    text-decoration: none;
    color: black;
}

.inscription {
    padding: 0 0 0 2em;
    padding-top: 1.1em;
}

.inscription a {
    color: #0065FC;
    font-weight: bold;
}

@media all and (max-device-width: 1024px) {
    header{
        flex-direction: row;
        flex-wrap: wrap;
        height: 8%;
    }

    .navBar li{
        list-style: none;
        display: inline;
        padding-right: 3em;
    }

    .navBar {
        width: 100%;
    }

    .inscription{
        padding-top: 0em;
    }
}

/*Recherche*/
.titreZone {
    display: inline;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.Recherche {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0em 0em 0em 0em;
    height: 4em;
}

.logoRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1em 0em 0em 1em;
    background-color: #F2F2F2;
    height: 4em;
    width: 4em;
}
.Recherche .fas{
    font-size: 1em;
}

input {
    border: 1px solid #F2F2F2;
    font-size: 1em;
    font-weight: bold;
    height: 4em;
}

button {
    border: 1px solid;
    border-radius: 0em 1em 1em 0em;
    background-color: #0065FC;
    color: white;
    height: 3.8em;
    width: 10em;
    font-size: 1.1em;
}

#boutonLogo {
    display: none;
}

.Filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 1em 0em 1em 0em;
    padding-top: 1em;
}


.typeFiltres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    height: 1.5em;
    margin-left: 1em;
}

.borderFiltre:hover{
    background-color: #DEEBFF;
}    

.borderFiltre {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: 0.2em solid #F2F2F2;
    border-radius: 5em;
    width: auto;
    height: 3em;
    padding: 0em 1em 0em 0em;
    margin-left: 2em;
}

.logoFiltre {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2em 2em 2em 2em;
    background-color: #DEEBFF;
    height: 3em;
    width: 3em;
    margin-right: 1em;
}

.borderFiltre .fas {
    color: #0065FC;
    text-align: center;
}

.informationRecherche {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 1em;
}

#logoInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    color: #0065FC;
    border-radius: 2em 2em 2em 2em;
    height: 2em;
    width: 2em;
    margin-right: 1em;
}

@media all and (max-device-width: 1024px) {
    .Filtres {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:left;
        height: 20rem;
    }

    #boutonLogo {
        display: inline;
        width: 5em;
    }

    #boutonRecherche {
        display: none;
    }
}

/*Notation*/
.star {
    display: flex;
    justify-content: space-around;
    width: 5.5em;
}

.star .fas {
    font-size: 0.7em;
}
.starBlue {
    color:  #0065FC;
}

.starGrey {
    color: #F2F2F2;
}

/*Hebergement*/
.rechercheHebergement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50rem;
    padding-bottom: 2em;
    padding-top: 1em;
}

.hebergementVille {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 1.5em;
    margin-right: 1em;
    line-height: 3em;
}

.affichageHebergement {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.hebergement {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 40%;
    height: 40%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    line-height: 0.2em;
    margin: 0.5em;
    padding: 3px 3px 3px 3px;
}

.hebergement p {
    font-size: 0.9em;
    line-height: 0.5em;
}
.imgsHebergement{
    width: 100%;
    height: 65%;
}

.txtHebergement {
    display: flex;
    flex-direction: column;
    height: 35%;
}

.imgHebergement {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

/*Popularite*/
.populariteHebergement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 2em;
}

.titrePopularite {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.affichagePopularite {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.popularite {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 9rem;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 1.5em;
    padding: 0.1em 0.1em 0.1em 0.1em;
}

.descriptionPopularite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding-left:0.2em;
}

.descriptionPopularite p {
    font-size: 0.9em;
    line-height: 1em;
}

.imgsPopularite {
    width: 45%;
    height: 100%;
}

#imgPopularite {
    width: 100%;
    height : 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px
}

/*Activites*/
.titreActivite{
    padding-top: 2em;
}
.rechercheActivite {
    display: flex;
    flex-direction: row;
    width: 100%;
    height : 40rem;
    padding-bottom : 2em;
}

.nomActivite{
    margin-left: 1em;
}

.activiteVille {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.activiteCol1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.activiteCol2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.activiteGrand {
    display: flex;
    flex-direction: column;
    max-width:90%;
    height: 100%;
    border: 1px solid white;
    border-radius: 1.7em;
    background-color: white;
    box-shadow:0 0 3em 0 #a5a5a5;
    margin: 1em;
}

.activiteMoyen {
    display: flex;
    flex-direction: column;
    height: 55%;
    border: 1px solid white;
    border-radius: 1.7em;
    background-color: white;
    box-shadow:0 0 3em 0 #a5a5a5;
    margin: 1em;
}

.activitePetit {
    display: flex;
    flex-direction: column;
    height: 35%;
    border: 1px solid white;
    border-radius: 1.7em;
    background-color: white;
    box-shadow:0 0 3em 0 #a5a5a5;
    margin: 1em;
}

#imgActiviteGrand {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 1.7em 1.7em 0em 0em;
}

#imgActiviteMoyen{
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 1.7em 1.7em 0em 0em;
}

#imgActivitePetit {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 1.7em 1.7em 0em 0em;
}

/*Footer*/
footer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #F2F2F2;
    padding: 2em 2em 2em 2em;
    width : 100%;
    height: 10%;
}

footer ul { 
    list-style-type: none;
    padding-left: 0px;
    line-height: 2em;
}

.elementFooterParent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elementFooter {
    margin-bottom: 0.8em;
    padding-right: 15em;
}

